@font-face {
  font-family: "Silkscreen";
  src: url("../../public/fonts/Silkscreen-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Silkscreen";
  src: url("../../public/fonts/Silkscreen-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "VT323";
  src: url("../../public/fonts/VT323-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "DotGothic16";
  src: url("../../public/fonts/DotGothic16-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
